<div id="about" class="flex justify-center items-center mb-[200px] pt-[200px] mt-[-200px]">
    <div class="w-[800px] flex flex-col justify-center items-center gap-8">
        <a class="text-[64px] font-bold">About Us</a>
        <a class="text-center text-xl">Selamat datang di PawSense, platform inovatif yang dirancang untuk membantu Anda
            memahami emosi hewan peliharaan Anda, khususnya anjing dan kucing, melalui ekspresi mereka. Dengan teknologi
            berbasis machine learning, kami menghadirkan solusi cerdas untuk mengenali dan menginterpretasikan ekspresi
            wajah hewan peliharaan Anda melalui gambar</a>
        <a class="text-center text-xl">Web ini tercipta untuk memenuhi tugas akhir mata kuliah Aplikasi Web yang
            memadukan web development dan machine learning. Model machine larning dibuat menggunakan dataset dari
            halaman web Kaggle lalu diolah menggunakan algoritma Convolutional Neural Network (CNN) dan menggunakan
            model pretrain ResNet50</a>
    </div>
</div>