<div class="flex justify-center items-center my-16">
    {#    <div class="flex bg-gray/10 rounded-lg">#}
    {#        <div id="uploadFileButton" class="bg-third py-4 px-8 text-white font-bold rounded-lg cursor-pointer">Upload#}
    {#            File#}
    {#        </div>#}
    {#        <div id="takePictureButton" class="py-4 px-8 text-third font-bold rounded-lg cursor-pointer">Take a Picture#}
    {#        </div>#}
    {#    </div>#}
    <div class="flex flex-col gap-8 justify-center items-center">
        <div class="text-4xl font-black text-center">Upload your pet's picture here!</div>
        <div
                id="drop-zone"
                class="w-full py-8 bg-lightGray border-2 border-dashed border-third rounded-lg flex gap-4 items-center justify-center text-center hover:bg-gray-50 transition cursor-pointer"
        >
            <img class="p-4 bg-white rounded-full" alt="upload image" src="/static/source/upload_image.png"/>
            <p class="text-third">Drop your image here or <span class="text-primary font-bold underline decoration-2">browse</span>
            </p>
            <input type="file" id="file-input" accept="image/*" hidden>
        </div>

        <div class="flex justify-center items-center bg-lightGray border-2 border-third rounded-lg gap-1">
            <div class="flex justify-center items-center rounded-lg w-[500px] h-[500px] p-4 overflow-hidden">
                <div id="image-placeholder" class="flex flex-col gap-4 justify-center items-center">
                    <div>
                        <img alt="image placeholder" src="/static/source/image_icon.png"
                             class="object-fit p-4 bg-white rounded-full"/>
                    </div>
                    <a class="text-base text-primary">*The image will be displayed here</a>
                </div>
                <img id="image-preview" alt="image preview" src="" class="hidden object-cover w-full h-full rounded-lg">
            </div>
            <div class="h-[450px] w-[2px] bg-third"></div>
            <div class="w-[1000px] flex justify-center items-center px-16 my-8">
                <div id="result-display" class="flex flex-col gap-8 justify-center items-center hidden">
                    <div class="flex flex-col justify-center items-center">
                        <div class="text-third font-bold">
                            Your Pet's
                            {#                        <span id="species-display" class="bg-primary text-white px-2"></span> #}
                            is...
                        </div>
                        <div class="text-primary text-6xl font-bold">
                            <a id="expression-display" class="selection:text-white"></a>
                        </div>
                    </div>
                    <div class="flex flex-col gap-2">
                        <a id="emotion-description" class="text-center text-sm">
                        </a>
                    </div>
                    <div class="flex gap-8">
                        <div class="flex flex-col gap-2">
                            <a class="text-xl font-bold text-center text-third">Dog</a>
                            <a id="treatment-dog" class="text-center text-sm">
                            </a>
                        </div>
                        <div class="flex flex-col gap-2">
                            <a class="text-xl font-bold text-center text-third">Cat</a>
                            <a id="treatment-cat" class="text-center text-sm">
                            </a>
                        </div>
                    </div>
                </div>
                <div id="result-placeholder" class="flex flex-col gap-4 justify-center items-center">
                    <div>
                        <img alt="image placeholder" src="/static/source/text_icon.png"
                             class="object-fit p-4 bg-white rounded-full"/>
                    </div>
                    <a class="text-base text-primary">*The result will be displayed here</a>
                </div>
            </div>
        </div>

        <a class="text-sm text-third">*This model is still in development, some result can be not accurate</a>
    </div>
    <script src="/static/js/script.js"></script>
</div>