<div id="home" class="flex justify-center items-center gap-[100px] pt-[100px] mt-[-100px]">
    <div class="w-[400px] flex flex-col gap-12">
        <a class="text-[64px] font-bold leading-[64px]">Know your pet's mood!</a>
        <a class="text-5 font-normal text-wrap">A Machine Learning approach to classify your pet emotion based on their
            expression</a>
        <div class="w-fit flex gap-4">
            <a class="flex gap-4 items-center py-4 px-8 bg-third rounded-lg text-white font-bold hover:scale-105 ease-in-out transition-transform duration-200"
               href="/classify">
                Sense Now!
                <img alt="" src="/static/source/right_arrow.png"/>
            </a>
            <a class="py-4 px-8 rounded-lg bg-white border-third border-2 flex justify-center items-center cursor-pointer font-medium hover:scale-105 ease-in-out transition-transform duration-200 text-third"
               href="/#content">
                learn more
            </a>
        </div>
    </div>
    <img src="/static/source/hero.png" alt="hero" class="object-cover">
</div>